[submodule "ansible/roles/389_server_demo_setup"]
	path = ansible/roles/389_server_demo_setup
	url = https://github.com/johanneskastl/ansible-role-389_server_demo_setup.git
[submodule "ansible/roles/AlmaLinux_install_epel-release"]
	path = ansible/roles/AlmaLinux_install_epel-release
	url = https://github.com/johanneskastl/ansible-role-AlmaLinux_install_epel-release.git
[submodule "ansible/roles/CentOS_install_epel-release"]
	path = ansible/roles/CentOS_install_epel-release
	url = https://github.com/johanneskastl/ansible-role-CentOS_install_epel-release.git
[submodule "ansible/roles/OpenWRT_dropbear_authorizedkeys"]
	path = ansible/roles/OpenWRT_dropbear_authorizedkeys
	url = https://github.com/johanneskastl/ansible-role-OpenWRT_dropbear_authorizedkeys.git
[submodule "ansible/roles/RedHat_install_epel-release"]
	path = ansible/roles/RedHat_install_epel-release
	url = https://github.com/johanneskastl/ansible-role-RedHat_install_epel-release.git
[submodule "ansible/roles/RockyLinux_install_epel-release"]
	path = ansible/roles/RockyLinux_install_epel-release
	url = https://github.com/johanneskastl/ansible-role-RockyLinux_install_epel-release.git
[submodule "ansible/roles/add_all_nodes_to_etc_hosts"]
	path = ansible/roles/add_all_nodes_to_etc_hosts
	url = https://github.com/johanneskastl/ansible-role-add_all_nodes_to_etc_hosts.git
[submodule "ansible/roles/add_screenrc"]
	path = ansible/roles/add_screenrc
	url = https://github.com/johanneskastl/ansible-role-add_screenrc.git
[submodule "ansible/roles/add_zypper_repository"]
	path = ansible/roles/add_zypper_repository
	url = https://github.com/johanneskastl/ansible-role-add_zypper_repository.git
[submodule "ansible/roles/bind9_simple_authoritative_dns_server"]
	path = ansible/roles/bind9_simple_authoritative_dns_server
	url = https://github.com/johanneskastl/ansible-role-bind9_simple_authoritative_dns_server.git
[submodule "ansible/roles/bootstrap_python_on_OpenWRT"]
	path = ansible/roles/bootstrap_python_on_OpenWRT
	url = https://github.com/johanneskastl/ansible-role-bootstrap_python_on_OpenWRT.git
[submodule "ansible/roles/caasp_nfs_server_configuration"]
	path = ansible/roles/caasp_nfs_server_configuration
	url = https://github.com/johanneskastl/ansible-role-caasp_nfs_server_configuration.git
[submodule "ansible/roles/configure_and_start_salt-minion"]
	path = ansible/roles/configure_and_start_salt-minion
	url = https://github.com/johanneskastl/ansible-role-configure_and_start_salt-minion.git
